html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: auto;
}

.dribble {
    padding: 40px 4rem;
}

.dribble-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin-bottom: 50px;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    color: #b1b1c8;
}

.dribble-header__logo {
    width: 10rem;
    height: 2rem;
    display: flex;
}

.dribble-header__navbar {
    display: flex;
}

.dribble-header__navbar>li {
    padding: 9px 28px;
    margin-left: 12px;
    font-size: 12px;
    cursor: pointer;
    position: relative;
}

.dribble-header__navbar>li:last-child {
    color: white;
    background-color: #02CF87;
    border-radius: 3px;
}

.dribble-header__navbar>li:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 5px;
    background-color: #97969E;
    transform: translate(50%);
    left: 0;
    bottom: 0;
    transition: all 0.5s linear;
    opacity: 0;
    border-radius: 5px;
    background-color: #131320;
}

.dribble-header__navbar>li:not(:last-child):hover {
    color: #02CF87;
    transition: all 0.5s linear;
}

.dribble-header__navbar>li:not(:last-child):hover:before {
    opacity: 1;
}

.dribble-content {
    display: flex;
    justify-content: space-between;
}

.dribble-content--left,
.dribble-content--right {
    width: calc(50% - 30px);
}

.dribble-content--left__caption {
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 60px;
}

.dribble-content--left__paragraph {
    font-size: 15px;
    color: #97969E;
    line-height: 1.6;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    margin-bottom: 60px;
}

.dribble-content--left__button button {
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #58aff7;
    color: #58aff7;
    font-weight: 600;
    transition: all 0.5s linear;
    cursor: pointer;
}

.dribble-content--left__button button:hover {
    color: white;
    background-color: #58aff7;
}

.dribble-content--right img {
    width: 100%;
    height: 76vh;
    object-fit: cover;
}


/*# sourceMappingURL=style.css.map */